<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styles.css")" />
</head>

    <body class="news">
        <header>
            <div class="nav">
                <ul>
                    <li class="home"><a >@Html.ActionLink("Home", "Index", "Home")</a></li>
                    <li class="tutorials">
                        <a href="#">Tutorials</a>
                        <ul>
                            <li><a href="#">Tutorial #1</a></li>
                            <li><a href="#">Tutorial #2</a></li>
                            <li><a href="#">Tutorial #3</a></li>
                        </ul>
                    </li>
                    <li class="about"><a class="active" href="#">About</a></li>
                    <li class="news">
                        <a href="#">Newsletter</a>
                        <ul>
                            <li><a href="#">News #1</a></li>
                            <li><a href="#">News #2</a></li>
                            <li><a href="#">News #3</a></li>
                        </ul>
                    </li>
                    <li class="contact"><a href="#">Contact</a></li>
                </ul>
            </div>
        </header>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
